<!DOCTYPE html>
<html lang="en">

<%- include('header'); -%>

<body>

  <%- include('navigation'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../public/img/home-bg.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Waorani Tribe in Ecuador</h1>
            <span class="subheading">Latest News</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <% posts.forEach(post => { %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post/<%= post.title %>">
            <h2 class="post-title">
              <%=post.title%>
            </h2>
            <h3 class="post-subtitle">
              <%=post.subtitle%>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"><%= post.author %></a></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <% }); %>
  <hr>




  <!-- Bootstrap core JavaScript -->
  <script src="../public/vendor/jquery/jquery.min.js"></script>
  <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../public/js/clean-blog.min.js"></script>

</body>

</html>