<!DOCTYPE html>
<html lang="en">

  <%- include('header'); -%>

  <%- include('navigation'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('<%= post.image_url %>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading"><%= post.subheading %></h2>
            <span class="meta">Posted by
              <%= post.author %>
              on <%= moment(post.date).format("MMMM Do YYYY")%> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="white-space: pre-wrap">
          <%= post.body %>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('footer'); -%>

  <!-- Bootstrap core JavaScript -->
  <script src="../public/vendor/jquery/jquery.min.js"></script>
  <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../public/js/clean-blog.min.js"></script>

</body>

</html>
